# crawling module
venv
__pycache__
.DS_Store
.cache/
.vscode/
.idea
/crawling-module/config.py

# Mac os
web-server/.DS_Store

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar



# web-server
web-server/.gradle

# api
application.yml
web-server/api/.gradle
web-server/api/bin/
web-server/api/out/
web-server/api/build/
web-server/api/main/resources/static/**
web-server/!gradle/wrapper/gradle-wrapper.jar
web-server/api/!**/src/main/**
web-server/api/!**/src/test/**
web-server/api/src/main/resources/application-*.yml
web-server/api/src/test/resources/application-*.yml
web-server/api/*.iml
web-server/api/src/main/generated

### NetBeans ###
web-server/nbproject/private/
web-server/nbbuild/
web-server/dist/
web-server/nbdist/
web-server/.nb-gradle/

### IntelliJ IDEA ###
web-server/.idea
web-server/*.iws
web-server/*.iml
web-server/*.ipr
web-server/out/

### Front ###
### react ###
.DS_*
logs
**/*.backup.*
**/*.back.*

# dependencies
node_modules
bower_components
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
