crawling-module/pymysql_practice/pymysql_practice1/config.py

# crawling module

# server
.idea/.gitignore
.idea/Hotplace-map.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__
.DS_Store
.cache/
.vscode/
.idea
crawling-module/pymysql_practice/.idea
# server
